@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  border: 0;
}

/* .container{
  width: 100%;
  height: 100vh;
  background-image: url(back.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 35px;
  padding-left: 8%;
  padding-right: 8%;
} */
nav{
  position: relative;
  padding: 10px 100px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: navy;
}
.logo a{
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin-left: 30px;
}
span{
  color: #f9004d;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  transition: 0.5s;
}
nav ul li a:hover{
  color: #f9004d;
}
.login{
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
  
}
.menu-toggle{
  display: none;
}
.btns{
  background: crimson;
  border-radius: 6px;
  padding: 9px 25px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
}
.buttons {
    margin-right: 30px;
}
.content{
  margin-top: 10%;
  max-width: 600px;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: left;
  color: white;
  /* background: red; */
}
.content h2{
  font-size: 80px
}
.content p{
  margin-top: 10px;
  line-height: 25px;
}
a{
  color: #fff;
}
.link {
  margin-top: 30px;
}
.hire{
  color: #000;
  text-decoration: none;
  background: #fff;
  padding: 9px 25px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.5s;
}
.link .hire:hover{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.socials {
    text-align: center;
    align-items: center;
    background-color:navy;
    padding-bottom: 10px;
    padding-top: 5px;
  
}
  .socials img {
    height: 50px;
    margin: 10px;
    cursor:pointer;
}
  .socials p {
    font-size: 20px;
    color: white;
}
.img{
  background: yellow;
    background:no-repeat;
    width: 100%;
    height: 100v;
    background-size: cover;
    background-position: center;
    position: relative;
  
}

@media (min-width:0) and (max-width:600px) {

  .menu-toggle{
    display: block;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }
  .content{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 0 20px;
  }
  .content h2{
    font-size: 50px;
  }
  nav{
    position: relative;
    padding: 20px 0;
    /* flex-direction: column; */

  }
   .logo a{
    margin-left: 10px;
    font-size: 30px;
    position: absolute;
  }
  nav ul{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:red;
    bottom: 0;
    z-index: 1;
    /* left: -100%; */
    /* text-align: center; */
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: left 0.3s ease;
    /* justify-content: center; */
  }
  nav ul li{
    margin: 10px 8px;
    display: block;
  }

  nav ul li a{
    font-size: 23px;
    color: #fff;
  }

  .nav ul li.active{
    left: 0;
  }

  .img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
  }

  .login,
  .btns {
    color: #fff;
    font-size: 20px;
    text-align: center;
    background: none;
  }

  .btns {
    background: #fff;
    color: crimson;
    padding: 10px 30px;
    border-radius: 6px;
  }
}

@media (max-width: 768px) {
  
}
/* .img{
  background: yellow;
} */  